body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin: 10px 0 5px;
}
.btn {
  min-width: 100px;
  height: 20px;
  padding: 8px;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 5px;
}
form input,
form select {
  width: 100%;
  padding: 8px;
  margin: 5px 0 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.message {
  color: red;
  font-weight: bold;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.navbar {
    overflow: hidden;
    background-color: #333;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin-right: 20px; /* Add margin-right */
}

/* Remove margin-right from the last link */
.navbar a:last-child {
    margin-right: 0;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Active/current link */
.navbar a.active {
    background-color: #04AA6D;
    color: white;
}